 <nav class="navbar" id="navbar">
    <div class="logo">
        <a href="/">EVENT<span>LIVE</span></a>
    </div>
    <div class="nav-buttons">
        <a href="/" class="btn btn-nav btn-outline">
            Login
        </a>
        <a href="{% url 'signup' %}" class="btn btn-nav btn-primary">
            Registro
        </a>
    </div>
</nav>
{% block extra_js %}
    <script>
        const navbar = document.getElementById("navbar");
        window.addEventListener("scroll", () => {
            if(window.scrollY > 40){
                navbar.classList.add("scrolled");
            }else{
                navbar.classList.remove("scrolled");
            }
        });
    </script>
{% endblock %}